<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		   http://www.springframework.org/schema/beans/spring-beans.xsd
		   http://www.springframework.org/schema/security
		   http://www.springframework.org/schema/security/spring-security-4.0.xsd">
	
	<http pattern="/css/**" security="none" />
	<http pattern="/js/**" security="none" />
	<http pattern="/fonts/**" security="none" />
	

	<http auto-config="true" use-expressions="true">
		<access-denied-handler error-page="/403" />
		<intercept-url pattern="/dashboard**" access="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')" />
		<intercept-url pattern="/addComputer**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/editComputer**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/delete**" access="hasRole('ROLE_ADMIN')" />
		
		<http-basic />
		<form-login login-page="/connect" default-target-url="/dashboard" authentication-failure-url="/connect?error=wrong"
			username-parameter="username" password-parameter="password" />
		<logout logout-url="/connect?logout" delete-cookies="JSESSIONID" logout-success-url="/connect"/>
		 <csrf />
	</http>
	
	<authentication-manager>
		<authentication-provider user-service-ref="userService">
			<password-encoder hash="bcrypt" />
 		</authentication-provider>
 	</authentication-manager>
	
</beans:beans>